{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto pt-40">
        <h1 class="text-6xl text-center pb-12">
            {{ book.title }}
        </h1>
        <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md" >

            <div class="mb-4">
                <h2 class="text-lg font-semibold mb-2">Title:</h2>
                <p class="text-gray-800">{{ book.title }}</p>
            </div>

            <div class="mb-4">
                <h2 class="text-lg font-semibold mb-2">Genres:</h2>
                <ul class="list-disc list-inside">
                    {% for genre in book.genres %}
                        <li class="text-gray-800">{{ genre.title }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2 class="text-lg font-semibold mb-2">Authors:</h2>
                <ul class="list-disc list-inside">
                    {% for author in book.authors %}
                        <li class="text-gray-800">{{ author.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if app.user and 'ROLE_ADMIN' in app.user.roles  %}
        <div class="max-w-md mx-auto mt-20 flex justify-center">
            <a
                    href="/books/edit/{{ book.id }}"
                    class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
                Edit Book
            </a>

            <a
                    href="/books/delete/{{ book.id }}"
                    class="bg-red-500 font-bold py-2 px-4 ml-6  rounded transition-all hover:bg-red-300">
                Delete Book
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}